<div data-dojo-type = "dijit/form/Form" 
     id             = "newContactAddForm" 
     data-dojo-id   = "newContactAddForm"
     encType        = "multipart/form-data" 
     action         = " " 
     method         = " " 
     >

    <script type="dojo/on" data-dojo-event="submit">

      if( this.validate() ){
        require([
        "dijit/registry", 
        ],
        function( registry ){
          //    {% if perms.contact.add_contact %}
          addItem( "{{patient_detail_obj.urls.add.contact}}", "newContactAddForm", "CONTACT_GRID" );
          //    {% else %}
          registry.byId( "permissionDeniedErrorDialog" ).show();
          //   {% endif %}
          return false;
        });
        return false;
      }
      
      else {
        raiseInvalidFormSubmission();
        return false;
      }

    </script>


    <table>

      {{ contact_form }}

    </table>

    <button
          type	          = "submit" 
          data-dojo-type  = "dijit/form/Button"
          data-dojo-props = "iconClass:'dijitIconSave'"
          name 	          = "submitbutton" 
          value           = "Add"
          >
      Add
    </button>

    <button   type            = "reset" 
              data-dojo-type  = "dijit/form/Button"
              data-dojo-props = "iconClass:'dijitIconClear'"
              value           = "Reset"
              >
        Reset

      <script type="dojo/on" data-dojo-event="click">
          return confirm( 'This will reset the form. Proceed ? ' );
      </script>

    </button>

</div>