include LICENSE.txt
include README.md
recursive-include contact *
recursive-include phone *
recursive-include guardian *
recursive-include demographics *
recursive-include insurance *
recursive-include email_and_fax *
